<table id="drugHospitalTable">
</table>
<div id="drugHospital_tool" style="padding: 5px;">
    <div style="margin-bottom: 5px;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="drugHospital_tool.add();">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-delete" plain="true" onclick="drugHospital_tool.remove();">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-modify" plain="true" onclick="drugHospital_tool.edit()">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="drugHospital_tool.reload()">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="drugHospital_tool.redo()">取消选择</a>
    </div>
</div>
<form id="drugHospital_add" style="margin: 0;padding: 5px 0 0 25px;color: #333;">
    <p>药品编码：<input id="HospitalLimitDrugCode" type="text" name="drugCode" class="textbox" style="width: 200px;"></p>
  <!--  <p>性别限制：<input  id="sexLimitInput" class="textbox" name="sexLimit" style="width: 205px;"></p> -->
    <p>年龄限制： <select  id="HospitalLimitInput">
        <option value="18"> 限制一级医院</option>
        <option value="19"> 限制二级医院</option>
        <option value="20">限制三级医院</option>
    </select></p>
</form>
<form id="drugHospital_edit" style="margin: 0;padding: 5px 0 0 25px;color: #333;">
    <input type="hidden" id="id" name="id" class="textbox" style="width: 200px;">
    <input type="hidden" id="drugId" name="drugId" class="textbox" style="width: 200px;">
    <p>药品编码：<input id="HospitalLimitDrugCodeEdit" type="text" name="drugCode" class="textbox" style="width: 200px;" disabled="disabled"></p>
    <!--  <p>性别限制：<input  id="sexLimitInput" class="textbox" name="sexLimit" style="width: 205px;"></p> -->
    <p>年龄限制： <select  id="HospitalLimitInputEdit" name="HospitalLimit">
        <option value="18"> 限制一级医院</option>
        <option value="19"> 限制二级医院</option>
        <option value="20">限制三级医院</option>
    </select></p>
</form>
<script type="type/javascript" src="/js/drugHospital.js"></script>