<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
<!-- 引入EasyUI的样式文件-->
<link rel="stylesheet" href="/easyui/themes/default/easyui.css"
	type="text/css" />
<!-- 引入EasyUI的图标样式文件-->
<link rel="stylesheet" href="/easyui/themes/icon.css" type="text/css" />
<link rel="stylesheet" href="/css/admin.css" type="text/css" />
</head>
<body>
<body class="easyui-layout">
	<div data-options="region:'north',title:'header',split:true,noheader:true"
		style="height: 60px;background-color:#666">
			<div class="logo">后台管理</div>
			<div class="logout">你好, <p th:if="${not #lists.isEmpty(session.admin)}" >[[${session.admin.userName}]] </p>  |   <a href="#">退出</a></div>
		</div>
	<div data-options="region:'south',title:'footer',split:true,noheader:true"
		style="height: 35px;line-height: 30px;text-align: center">
		 @2018  李丰 .Powered by SpringBoot and EasyUI
		</div>
	<div data-options="region:'west',title:'导航',split:true"
		style="width: 240px;padding: 10px"></div>
	<div data-options="region:'center'"
		style="overflow:hidden;">
			<div id="tabs">
				<div title="起始页" iconCls="icon-house" style="padding:0 10px;display: block;">
					<p>欢迎来到后台管理系统!</p>
				</div>
			</div>
		</div>
</body>
<!-- 引入JQuery -->
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<!-- 引入EasyUI -->
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<!-- 引入EasyUI的中文国际化js，让EasyUI支持中文 -->
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
</html>